* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 120px;
    text-align: center;
    font-size: 15px;
}
header h1 {
    color: green;
}
header h3 {
    position: relative;
    color: black;
    top: 3px;
}
header h4 {
    position: relative;
    font-weight: 200;
    top: 6px;
    color: #757575;
}
.main-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: auto;
}
.main-container .input {
    max-width: 130px;
    height: 30px;
    margin: 7px;
    border: 3px solid green;
}
::placeholder .input{
    color: red;
}
.main-container button {
    width: 120px;
    height: 30px;
    margin-top: 7.5px;
    color: white;
    background: green;
    border: none;
}
.main-container .container {
    position: absolute;
    min-width: 260px;
    margin-left: 9px;
    justify-content: center;
    text-align: center;
    top: 45px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: auto;
}
span {
    margin: 0.5px;
    height: 20px;
    color: white;
    padding: 3px;
    font-size: 9px;
}


@media (min-width: 600px) {
    .main-container .container {
        position: absolute;
        max-width: 600px;
    }
    span {
        font-size: 15px;
        height: 25px;
    }

}
@media (min-width: 800px) {
    .main-container .input {
        position: relative;
        min-width: 400px;
        left: 35px;
    }
    .main-container button {
        position: relative;
        min-width: 130px;
        left: 40px;
    }
    .main-container span {
        height: 35px;
        text-align: center;
        font-size: 25px;
    }
}

